@import url('https://fonts.cdnfonts.com/css/kreadon');


*{
    font-family: 'Kreadon', sans-serif;
}
*::selection{
    background-color: grey;
    color: white;
}
html, body, #mainpage, #authentication{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
}

#authentication *{
    font-weight: 700;
}
#authentication h2{
    font-weight: 800;
}
.auth{
    background-color: whitesmoke;
    transform: scale(1);
    border-radius: 15px;
    margin: auto;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    width: 33%;
    box-shadow: 0px 0px 20px rgb(149, 149, 149);
    transition: box-shadow ease-in-out 0.2s, transform ease-in-out 0.1s;
}
.auth:hover{
    box-shadow: 0px 0px 15px rgb(117, 117, 117);
    transform: scale(1.05);
    transition: box-shadow ease-in-out 0.2s, transform ease-in-out 0.1s;
}
.auth:first-child{
    margin-right: 1em;
    margin-left: auto;
}
.auth:nth-child(2){
    margin-left: 1em;
    margin-right: auto;
}
.auth h2{
    color: #515151;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}
.auth span, .auth input{
    color: #266943;
}
.auth span{
    margin-top: 1em;
    margin-bottom: 5px;
    font-size: 15px;
}
.auth input{
    padding: 1em;
    border: solid 2px rgba(81, 81, 81, 0.5);
    border-radius: 20px;
    background-color: rgba(207, 207, 207, 0.5);
    font-size: 20px;
}
.auth input:focus{
    outline: solid 2px rgba(38, 105, 67, 0.7);
    border: solid 2px rgba(38, 105, 67, 0.7);
}
.auth input[type="submit"], #authenticate{
    background-color: #266943;
    border: none;
    border-radius: 20px;
    color: white;
    margin: auto;
    margin-top: 1em;
    font-size: 20px;
    width: 35%;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.auth input[type="submit"]:hover, #authenticate:hover{
    cursor: pointer;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
    transition: box-shadow ease-in-out 0.1s;
}
.auth input:hover{
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}
.auth input::selection{
    background-color: #266943;
}

#profile:hover{
    cursor: pointer;
}
#authenticate{
    width: 10em;
    margin-top: 0;
    box-shadow: none;
    transition: box-shadow ease-in-out 0.1s;
    font-weight: 800;
}
#profile *, #authenticate{
    position: absolute;
    right: 2em;
    top: 2em;
    align-items: center;
}
#profile span{
    font-size: 1.5em;
    font-weight: 700;
    color: #266943;
    top: 1.65em;
    right: 3.5em;
}


#nav{
    background-color: #266943;
    width: 5em;
    display: flex;
    flex-direction: column;
    color: white;
}
#nav svg{
    margin: 1em;
    transform: scale(1);
    transition: transform ease 0.2s;
}
#nav svg:hover{
    transform: scale(1.1);
    cursor: pointer;
}


#add{
    position: absolute;
    bottom: 2.5em;
    right: 2.5em;
    transform: scale(1);
    transition: transform ease 0.2s;
}
#add svg{
    border-radius: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    background-color: #266943;
}
#add:hover{
    cursor: pointer;
    transform: scale(1.1);
}