<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block script %}
    {% endblock %}
    <link rel="stylesheet" href="../../static/savingbuddy/style.css">

</head>

<body>
    <div id="container">
        <div id="nav">
            <a href="">a</a>
            <a href="">b</a>
            <a href="{% url 'logout' %}">c</a>
        </div>
        {% block body %}
        {% endblock %}
    </div>
</body>

</html>
